<div class="main-container nav-bg-color">
    <div class="inside-container nav-contain">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <img alt="" class="img-fluid" src="">
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-list ml-auto">
                    <a class="menu" routerLink="/">HOME</a>
                    <a class="menu" routerLink="/about">ABOUT US</a>
                    <a class="menu" routerLink="/services">SERVICES</a>
                    <a class="menu" routerLink="/contact">CONTACT</a>
                    <a class="menu" routerLink="/portal/login">LOGIN</a>
                    <a class="menu" routerLink="/portal">REGISTER</a>
                    <span class="menu last-spc color-line"> | </span>
                    <a class="menu icon-color last-spc" href="#"><i class="fas fa-shopping-cart"></i></a>
                    <a class="menu icon-color  last-spc" href="#"><i class="fas fa-search"></i></a>

                </div>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>